@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen!</h1>
    <p>Lerne hier etwas über <a href="https://docs.microsoft.com/aspnet/core">das Erstellen von Web Applikationen mit
            ASP.NET Core</a>.</p>
</div>
